<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eastAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,2</string>
		<key>unitDelay</key>
		<real>0.16</real>
		<key>filenamePrefix</key>
		<string>minion_east_</string>
	</dict>
	<key>northEastAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,2</string>
		<key>unitDelay</key>
		<real>0.16</real>
		<key>filenamePrefix</key>
		<string>minion_northeast_</string>
	</dict>
	<key>northAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,2</string>
		<key>unitDelay</key>
		<real>0.16</real>
		<key>filenamePrefix</key>
		<string>minion_north_</string>
	</dict>
	<key>northWestAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,2</string>
		<key>unitDelay</key>
		<real>0.16</real>
		<key>filenamePrefix</key>
		<string>minion_northwest_</string>
	</dict>
	<key>westAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,2</string>
		<key>unitDelay</key>
		<real>0.16</real>
		<key>filenamePrefix</key>
		<string>minion_west_</string>
	</dict>
	<key>southWestAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,2</string>
		<key>unitDelay</key>
		<real>0.16</real>
		<key>filenamePrefix</key>
		<string>minion_southwest_</string>
	</dict>
	<key>southAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,2</string>
		<key>unitDelay</key>
		<real>0.16</real>
		<key>filenamePrefix</key>
		<string>minion_south_</string>
	</dict>
	<key>southEastAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,2</string>
		<key>unitDelay</key>
		<real>0.16</real>
		<key>filenamePrefix</key>
		<string>minion_southeast_</string>
	</dict>
</dict>
</plist>
