<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Level 1</key>
	<dict>
		<key>Path Points</key>
		<array>
			<string>0,29</string>
			<string>0,32</string>
			<string>0,35</string>
			<string>18,26</string>
			<string>18,29</string>
			<string>18,32</string>
			<string>36,23</string>
			<string>36,25</string>
			<string>36,27</string>
			<string>52,22</string>
			<string>52,24</string>
			<string>52,26</string>
			<string>63,26</string>
			<string>62,28</string>
			<string>61,30</string>
			<string>73,37</string>
			<string>68,39</string>
			<string>65,43</string>
			<string>69,51</string>
			<string>67,51</string>
			<string>64,51</string>
			<string>68,61</string>
			<string>65,61</string>
			<string>62,61</string>
			<string>68,71</string>
			<string>63,71</string>
			<string>59,70</string>
			<string>67,79</string>
			<string>61,79</string>
			<string>53,79</string>
			<string>85,39</string>
			<string>85,41</string>
			<string>85,43</string>
			<string>101,39</string>
			<string>101,41</string>
			<string>101,43</string>
			<string>112,36</string>
			<string>112,40</string>
			<string>112,43</string>
			<string>119,32</string>
			<string>119,36</string>
			<string>119,39</string>
		</array>
		<key>Path Solutions</key>
		<array>
			<array>
				<string>0</string>
				<string>3</string>
				<string>6</string>
				<string>9</string>
				<string>12</string>
				<string>15</string>
				<string>30</string>
				<string>33</string>
				<integer>36</integer>
				<integer>39</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>4</integer>
				<integer>7</integer>
				<integer>10</integer>
				<integer>13</integer>
				<integer>16</integer>
				<integer>19</integer>
				<integer>22</integer>
				<integer>25</integer>
				<integer>28</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>4</integer>
				<integer>7</integer>
				<integer>10</integer>
				<integer>13</integer>
				<integer>16</integer>
				<integer>31</integer>
				<integer>34</integer>
				<integer>37</integer>
				<integer>40</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>4</integer>
				<integer>7</integer>
				<integer>10</integer>
				<integer>13</integer>
				<integer>16</integer>
				<integer>32</integer>
				<integer>35</integer>
				<integer>38</integer>
				<integer>41</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>4</integer>
				<integer>7</integer>
				<integer>10</integer>
				<integer>13</integer>
				<integer>16</integer>
				<integer>18</integer>
				<integer>21</integer>
				<integer>24</integer>
				<integer>27</integer>
			</array>
			<array>
				<integer>2</integer>
				<integer>5</integer>
				<integer>8</integer>
				<integer>11</integer>
				<integer>14</integer>
				<integer>17</integer>
				<integer>20</integer>
				<integer>23</integer>
				<integer>26</integer>
				<integer>29</integer>
			</array>
		</array>
		<key>Tower Placement Points</key>
		<array>
			<string>38,37</string>
			<string>48,35</string>
			<string>55,40</string>
			<string>54,48</string>
			<string>51,57</string>
			<string>73,22</string>
			<string>77,29</string>
			<string>86,31</string>
			<string>96,31</string>
			<string>77,58</string>
			<string>79,51</string>
			<string>87,50</string>
		</array>
		<key>Enemy Round Information</key>
		<array>
			<string>1</string>
			<string>1</string>
			<string>1111112</string>
			<string>11112</string>
			<string>1112</string>
			<string>112</string>
			<string>11123</string>
			<string>123</string>
			<string>11112</string>
			<string>111113</string>
			<string>123</string>
			<string>114</string>
			<string>11114</string>
			<string>11124</string>
			<string>111234</string>
			<string>12</string>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>34</string>
		</array>
		<key>Enemy Spawn Rate Information</key>
		<array>
			<integer>6</integer>
			<integer>5</integer>
			<integer>4</integer>
			<real>3.8</real>
			<real>3.8</real>
			<real>3.8</real>
			<real>4.8</real>
			<real>3.6</real>
			<real>3.3</real>
			<integer>4</integer>
			<real>3.5</real>
			<real>3.5</real>
			<real>3.5</real>
			<real>3.5</real>
			<real>3.5</real>
			<real>3.5</real>
			<integer>3</integer>
			<real>2.5</real>
			<real>2.5</real>
			<real>2.5</real>
		</array>
	</dict>
	<key>Level 2</key>
	<dict>
		<key>Path Points</key>
		<array>
			<string>0,35</string>
			<string>13,36</string>
			<string>37,43</string>
			<string>53,39</string>
			<string>71,25</string>
			<string>88,32</string>
			<string>99,39</string>
			<string>112,46</string>
			<string>118,46</string>
			<string>49,0</string>
			<string>52,8</string>
			<string>49,16</string>
			<string>42,19</string>
			<string>27,22</string>
			<string>27,30</string>
			<string>59,79</string>
			<string>55,73</string>
			<string>44,66</string>
			<string>33,62</string>
			<string>26,56</string>
			<string>29,48</string>
		</array>
		<key>Path Solutions</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<array>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<array>
				<integer>15</integer>
				<integer>16</integer>
				<integer>17</integer>
				<integer>18</integer>
				<integer>19</integer>
				<integer>20</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
		</array>
		<key>Tower Placement Points</key>
		<array>
			<string>18,28</string>
			<string>18,45</string>
			<string>33,71</string>
			<string>36,28</string>
			<string>41,34</string>
			<string>49,27</string>
			<string>87,22</string>
			<string>60,63</string>
			<string>48,58</string>
			<string>38,53</string>
			<string>56,48</string>
			<string>64,44</string>
			<string>70,37</string>
			<string>80,37</string>
			<string>58,21</string>
			<string>47,50</string>
			<string>87,40</string>
			<string>94,25</string>
		</array>
		<key>Enemy Round Information</key>
		<array>
			<string>1</string>
			<string>1112</string>
			<string>11111111123</string>
			<string>1111123</string>
			<string>111114</string>
			<string>11111234</string>
			<string>1111122224</string>
			<string>1111234444</string>
			<string>11122234</string>
			<string>111123334</string>
			<string>11112223</string>
			<string>11111115</string>
			<string>1112234</string>
			<string>1122234</string>
			<string>11115</string>
			<string>12344</string>
			<string>1115</string>
			<string>114555</string>
			<string>113555</string>
			<string>112345</string>
		</array>
		<key>Enemy Spawn Rate Information</key>
		<array>
			<integer>5</integer>
			<real>5</real>
			<real>5</real>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>4</integer>
			<integer>4</integer>
			<string>3.5</string>
			<real>3.5</real>
			<integer>3</integer>
			<real>2.5</real>
			<real>2.5</real>
			<real>2.5</real>
			<real>2.2</real>
			<integer>2</integer>
		</array>
	</dict>
	<key>Level 3</key>
	<dict>
		<key>Path Points</key>
		<array>
			<string>0,32</string>
			<string>0,37</string>
			<string>0,40</string>
			<string>12,39</string>
			<string>11,43</string>
			<string>10,47</string>
			<string>23,42</string>
			<string>23,45</string>
			<string>23,48</string>
			<string>36,40</string>
			<string>37,43</string>
			<string>37,47</string>
			<string>15,53</string>
			<string>18,54</string>
			<string>9,66</string>
			<string>12,66</string>
			<string>6,79</string>
			<string>8,79</string>
			<string>37,0</string>
			<string>40,0</string>
			<string>42,0</string>
			<string>41,12</string>
			<string>43,12</string>
			<string>45,12</string>
			<string>43,25</string>
			<string>46,25</string>
			<string>50,24</string>
			<string>66,79</string>
			<string>69,79</string>
			<string>61,66</string>
			<string>64,65</string>
			<string>52,53</string>
			<string>64,52</string>
			<string>75,36</string>
			<string>76,40</string>
			<string>119,31</string>
			<string>119,34</string>
		</array>
		<key>Path Solutions</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>3</integer>
				<integer>6</integer>
				<integer>9</integer>
				<integer>24</integer>
				<integer>21</integer>
				<integer>18</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>4</integer>
				<integer>7</integer>
				<integer>10</integer>
				<integer>25</integer>
				<integer>22</integer>
				<integer>19</integer>
			</array>
			<array>
				<integer>2</integer>
				<integer>5</integer>
				<integer>8</integer>
				<integer>11</integer>
				<integer>31</integer>
				<integer>29</integer>
				<integer>27</integer>
			</array>
			<array>
				<integer>16</integer>
				<integer>14</integer>
				<integer>12</integer>
				<integer>7</integer>
				<integer>9</integer>
				<integer>24</integer>
				<integer>21</integer>
				<integer>18</integer>
			</array>
			<array>
				<integer>16</integer>
				<integer>14</integer>
				<integer>13</integer>
				<integer>11</integer>
				<integer>31</integer>
				<integer>29</integer>
				<integer>27</integer>
			</array>
			<array>
				<integer>17</integer>
				<integer>15</integer>
				<integer>13</integer>
				<integer>11</integer>
				<integer>31</integer>
				<integer>29</integer>
				<integer>27</integer>
			</array>
			<array>
				<integer>18</integer>
				<integer>21</integer>
				<integer>26</integer>
				<integer>33</integer>
				<integer>35</integer>
			</array>
			<array>
				<integer>19</integer>
				<integer>22</integer>
				<integer>26</integer>
				<integer>33</integer>
				<integer>35</integer>
			</array>
			<array>
				<integer>28</integer>
				<integer>30</integer>
				<integer>32</integer>
				<integer>34</integer>
				<integer>36</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>4</integer>
				<integer>7</integer>
				<integer>11</integer>
				<integer>31</integer>
				<integer>32</integer>
				<integer>34</integer>
				<integer>36</integer>
			</array>
			<array>
				<integer>16</integer>
				<integer>14</integer>
				<integer>13</integer>
				<integer>11</integer>
				<integer>31</integer>
				<integer>32</integer>
				<integer>34</integer>
				<integer>36</integer>
			</array>
		</array>
		<key>Tower Placement Points</key>
		<array>
			<string>12,27</string>
			<string>20,31</string>
			<string>29,29</string>
			<string>32,23</string>
			<string>31,15</string>
			<string>65,21</string>
			<string>76,26</string>
			<string>88,27</string>
			<string>24,63</string>
			<string>32,58</string>
			<string>42,60</string>
			<string>49,66</string>
			<string>74,68</string>
			<string>75,59</string>
			<string>80,52</string>
			<string>88,48</string>
			<string>55,38</string>
		</array>
		<key>Enemy Round Information</key>
		<array>
			<string>11111112</string>
			<string>1111112</string>
			<string>111112</string>
			<string>1112</string>
			<string>111122</string>
			<string>11111115</string>
			<string>11112</string>
			<string>1</string>
			<string>1112</string>
			<string>1113</string>
			<string>112</string>
			<string>223</string>
			<string>12</string>
			<string>13</string>
			<string>11111233</string>
			<string>122333</string>
			<string>2</string>
			<string>22225</string>
			<string>222245</string>
			<string>125</string>
		</array>
		<key>Enemy Spawn Rate Information</key>
		<array>
			<integer>7</integer>
			<integer>7</integer>
			<integer>6</integer>
			<integer>6</integer>
			<real>5.5</real>
			<real>5.5</real>
			<integer>5</integer>
			<real>2.2</real>
			<real>4.5</real>
			<real>4.5</real>
			<integer>4</integer>
			<integer>4</integer>
			<integer>3</integer>
			<integer>3</integer>
			<real>2.5</real>
			<real>2.4</real>
			<real>2.3</real>
			<real>2.2</real>
			<real>2.1</real>
			<integer>2</integer>
		</array>
	</dict>
	<key>Level 4</key>
	<dict>
		<key>Path Points</key>
		<array>
			<string>23,0</string>
			<string>25,0</string>
			<string>27,0</string>
			<string>29,0</string>
			<string>26,11</string>
			<string>27,11</string>
			<string>28,11</string>
			<string>25,20</string>
			<string>36,37</string>
			<string>38,47</string>
			<string>45,53</string>
			<string>43,60</string>
			<string>33,65</string>
			<string>23,66</string>
			<string>12,65</string>
			<string>6,58</string>
			<string>9,51</string>
			<string>16,47</string>
			<string>30,46</string>
			<string>48,50</string>
			<string>60,48</string>
			<string>65,56</string>
			<string>68,64</string>
			<string>67,71</string>
			<string>65,79</string>
			<string>55,37</string>
			<string>83,37</string>
			<string>91,32</string>
			<string>89,25</string>
			<string>81,19</string>
			<string>74,18</string>
			<string>65,18</string>
			<string>55,21</string>
			<string>51,29</string>
		</array>
		<key>Path Solutions</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>4</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
				<integer>16</integer>
				<integer>17</integer>
				<integer>18</integer>
				<integer>9</integer>
				<integer>19</integer>
				<integer>20</integer>
				<integer>21</integer>
				<integer>22</integer>
				<integer>23</integer>
				<integer>24</integer>
			</array>
			<array>
				<integer>1</integer>
				<integer>5</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>25</integer>
				<integer>26</integer>
				<integer>27</integer>
				<integer>28</integer>
				<integer>29</integer>
				<integer>30</integer>
				<integer>31</integer>
				<integer>32</integer>
				<integer>33</integer>
				<integer>25</integer>
				<integer>20</integer>
				<integer>21</integer>
				<integer>22</integer>
				<integer>23</integer>
				<integer>24</integer>
			</array>
			<array>
				<integer>2</integer>
				<integer>5</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
				<integer>16</integer>
				<integer>17</integer>
				<integer>18</integer>
				<integer>9</integer>
				<integer>19</integer>
				<integer>20</integer>
				<integer>21</integer>
				<integer>22</integer>
				<integer>23</integer>
				<integer>24</integer>
			</array>
			<array>
				<integer>3</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>25</integer>
				<integer>26</integer>
				<integer>27</integer>
				<integer>28</integer>
				<integer>29</integer>
				<integer>30</integer>
				<integer>31</integer>
				<integer>32</integer>
				<integer>33</integer>
				<integer>25</integer>
				<integer>20</integer>
				<integer>21</integer>
				<integer>22</integer>
				<integer>23</integer>
				<integer>24</integer>
			</array>
		</array>
		<key>Tower Placement Points</key>
		<array>
			<string>19,54</string>
			<string>26,54</string>
			<string>33,54</string>
			<string>47,41</string>
			<string>63,26</string>
			<string>70,26</string>
			<string>77,26</string>
			<string>82,58</string>
		</array>
		<key>Enemy Round Information</key>
		<array>
			<string>1</string>
			<string>1112</string>
			<string>112</string>
			<string>112</string>
			<string>1</string>
			<string>1114</string>
			<string>114</string>
			<string>1124</string>
			<string>1114</string>
			<string>4</string>
			<string>1111113</string>
			<string>111123</string>
			<string>1123</string>
			<string>112</string>
			<string>3</string>
			<string>1111115</string>
			<string>111145</string>
			<string>111445</string>
			<string>111445</string>
			<string>15</string>
		</array>
		<key>Enemy Spawn Rate Information</key>
		<array>
			<integer>5</integer>
			<integer>5</integer>
			<real>4.5</real>
			<real>4.5</real>
			<integer>4</integer>
			<integer>4</integer>
			<real>3.5</real>
			<real>3.5</real>
			<real>3.5</real>
			<real>3.2</real>
			<real>3.5</real>
			<real>3.5</real>
			<integer>3</integer>
			<real>3</real>
			<real>3</real>
			<real>2.5</real>
			<real>2.5</real>
			<real>2.5</real>
			<real>2.5</real>
			<real>2.2</real>
		</array>
	</dict>
	<key>Level 5</key>
	<dict>
		<key>Path Points</key>
		<array>
			<string>0,26</string>
			<string>54,19</string>
			<string>76,25</string>
			<string>83,41</string>
			<string>70,79</string>
			<string>0,31</string>
			<string>54,23</string>
			<string>72,29</string>
			<string>77,42</string>
			<string>62,79</string>
			<string>0,36</string>
			<string>54,26</string>
			<string>69,32</string>
			<string>72,43</string>
			<string>54,79</string>
		</array>
		<key>Path Solutions</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
			<array>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
			</array>
			<array>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
			</array>
		</array>
		<key>Tower Placement Points</key>
		<array>
			<string>22,15</string>
			<string>52,41</string>
			<string>93,28</string>
			<string>30,45</string>
			<string>36,42</string>
			<string>50,52</string>
			<string>57,45</string>
			<string>88,58</string>
			<string>86,64</string>
		</array>
		<key>Enemy Round Information</key>
		<array>
			<string>1111112</string>
			<string>111112</string>
			<string>11112</string>
			<string>1111113</string>
			<string>1111123</string>
			<string>11114</string>
			<string>1114</string>
			<string>1134</string>
			<string>124</string>
			<string>1</string>
			<string>114</string>
			<string>14</string>
			<string>124</string>
			<string>114</string>
			<string>4</string>
			<string>11245</string>
			<string>1113</string>
			<string>111345</string>
			<string>1123</string>
			<string>5</string>
		</array>
		<key>Enemy Spawn Rate Information</key>
		<array>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<real>3.8</real>
			<real>3.8</real>
			<real>3.7</real>
			<real>3.7</real>
			<real>3.5</real>
			<real>2.8</real>
			<real>2.8</real>
			<real>2.8</real>
			<real>2.7</real>
			<real>2.6</real>
			<real>2.5</real>
			<real>2.4</real>
			<real>2.3</real>
			<real>1.8</real>
			<real>2.5</real>
		</array>
	</dict>
	<key>Level 6</key>
	<dict>
		<key>Path Points</key>
		<array>
			<string>19,0</string>
			<string>21,14</string>
			<string>12,27</string>
			<string>7,41</string>
			<string>17,56</string>
			<string>35,63</string>
			<string>62,66</string>
			<string>91,57</string>
			<string>97,33</string>
			<string>81,15</string>
			<string>65,0</string>
			<string>0,78</string>
			<string>13,65</string>
		</array>
		<key>Path Solutions</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
			</array>
			<array>
				<integer>11</integer>
				<integer>12</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
			</array>
		</array>
		<key>Tower Placement Points</key>
		<array>
			<string>27,37</string>
			<string>28,43</string>
			<string>31,48</string>
			<string>38,51</string>
			<string>45,53</string>
			<string>52,53</string>
			<string>59,52</string>
			<string>66,51</string>
			<string>73,49</string>
			<string>79,45</string>
			<string>80,39</string>
			<string>77,34</string>
		</array>
		<key>Enemy Round Information</key>
		<array>
			<string>111112</string>
			<string>11112</string>
			<string>1112</string>
			<string>112</string>
			<string>11125</string>
			<string>1115</string>
			<string>11145</string>
			<string>1145</string>
			<string>1114</string>
			<string>11156</string>
			<string>1114</string>
			<string>1113</string>
			<string>1114</string>
			<string>1113</string>
			<string>11136</string>
			<string>111256</string>
			<string>111356</string>
			<string>1136</string>
			<string>1146</string>
			<string>1156</string>
		</array>
		<key>Enemy Spawn Rate Information</key>
		<array>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<real>3.5</real>
			<real>3.5</real>
			<real>3.5</real>
			<real>3.2</real>
			<integer>3</integer>
			<real>2.8</real>
			<real>2.8</real>
			<real>2.5</real>
			<integer>2</integer>
			<integer>2</integer>
			<integer>2</integer>
			<real>1.8</real>
			<real>1.7</real>
		</array>
	</dict>
	<key>Level 7</key>
	<dict>
		<key>Path Points</key>
		<array>
			<string>55,0</string>
			<string>63,36</string>
			<string>72,62</string>
			<string>82,79</string>
			<string>50,0</string>
			<string>59,39</string>
			<string>70,63</string>
			<string>75,79</string>
			<string>45,0</string>
			<string>57,42</string>
			<string>67,64</string>
			<string>70,79</string>
			<string>0,32</string>
			<string>20,33</string>
			<string>40,35</string>
			<string>0,37</string>
			<string>20,36</string>
			<string>40,37</string>
			<string>0,42</string>
			<string>20,39</string>
			<string>40,39</string>
		</array>
		<key>Path Solutions</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<array>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<array>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
			</array>
			<array>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
			</array>
			<array>
				<integer>15</integer>
				<integer>16</integer>
				<integer>17</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
			</array>
			<array>
				<integer>18</integer>
				<integer>19</integer>
				<integer>20</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
			</array>
		</array>
		<key>Tower Placement Points</key>
		<array>
			<string>18,46</string>
			<string>25,46</string>
			<string>32,46</string>
			<string>29,26</string>
			<string>36,27</string>
			<string>41,22</string>
			<string>39,15</string>
			<string>74,18</string>
			<string>74,25</string>
			<string>57,60</string>
			<string>59,67</string>
			<string>50,59</string>
			<string>51,66</string>
			<string>22,25</string>
		</array>
		<key>Enemy Round Information</key>
		<array>
			<string>11111111114</string>
			<string>1111111111115</string>
			<string>11111111116</string>
			<string>11111115</string>
			<string>1111111456</string>
			<string>111113</string>
			<string>111114</string>
			<string>111115</string>
			<string>111114</string>
			<string>11111345</string>
			<string>11145</string>
			<string>11146</string>
			<string>11145</string>
			<string>11156</string>
			<string>156</string>
			<string>1116</string>
			<string>1116</string>
			<string>11146</string>
			<string>114</string>
			<string>1146</string>
		</array>
		<key>Enemy Spawn Rate Information</key>
		<array>
			<integer>5</integer>
			<real>4.8</real>
			<real>4.7</real>
			<real>4.6</real>
			<real>4.5</real>
			<real>4.4</real>
			<integer>4</integer>
			<integer>4</integer>
			<integer>4</integer>
			<real>3.8</real>
			<real>3.6</real>
			<real>3.4</real>
			<real>3.2</real>
			<real>2.8</real>
			<real>2.5</real>
			<real>2.2</real>
			<integer>2</integer>
			<real>1.8</real>
			<real>1.5</real>
			<real>1.5</real>
		</array>
	</dict>
	<key>Level 8</key>
	<dict>
		<key>Path Points</key>
		<array>
			<string>0,32</string>
			<string>17,42</string>
			<string>42,29</string>
			<string>59,30</string>
			<string>90,32</string>
			<string>107,24</string>
			<string>119,23</string>
			<string>41,0</string>
			<string>48,79</string>
			<string>37,65</string>
			<string>17,63</string>
			<string>91,47</string>
			<string>81,59</string>
			<string>75,71</string>
			<string>76,79</string>
		</array>
		<key>Path Solutions</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
			</array>
			<array>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
			</array>
			<array>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
			</array>
			<array>
				<integer>7</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
			</array>
			<array>
				<integer>7</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
			</array>
		</array>
		<key>Tower Placement Points</key>
		<array>
			<string>21,29</string>
			<string>28,24</string>
			<string>33,18</string>
			<string>13,26</string>
			<string>37,55</string>
			<string>99,39</string>
			<string>105,34</string>
			<string>28,55</string>
			<string>26,48</string>
			<string>33,43</string>
			<string>40,39</string>
			<string>46,58</string>
			<string>51,64</string>
			<string>68,38</string>
			<string>70,55</string>
			<string>67,62</string>
			<string>75,39</string>
			<string>81,42</string>
			<string>49,13</string>
			<string>52,19</string>
			<string>59,20</string>
			<string>66,20</string>
			<string>73,19</string>
			<string>80,20</string>
			<string>87,20</string>
			<string>94,20</string>
		</array>
		<key>Enemy Round Information</key>
		<array>
			<string>111111115</string>
			<string>111111116</string>
			<string>11115</string>
			<string>11116</string>
			<string>112</string>
			<string>1115</string>
			<string>1116</string>
			<string>1115</string>
			<string>1116</string>
			<string>2</string>
			<string>1115</string>
			<string>1116</string>
			<string>1115</string>
			<string>1116</string>
			<string>1125</string>
			<string>1115</string>
			<string>1156</string>
			<string>116</string>
			<string>16</string>
			<string>166</string>
		</array>
		<key>Enemy Spawn Rate Information</key>
		<array>
			<real>4.5</real>
			<real>4.5</real>
			<real>4.2</real>
			<real>3.8</real>
			<real>3.6</real>
			<real>3.4</real>
			<real>3.2</real>
			<integer>3</integer>
			<real>2.8</real>
			<integer>2</integer>
			<real>2.4</real>
			<real>2.4</real>
			<real>2.4</real>
			<real>2.4</real>
			<real>2.4</real>
			<real>2.4</real>
			<real>2.3</real>
			<real>2.2</real>
			<integer>2</integer>
			<real>1.8</real>
		</array>
	</dict>
	<key>Level 9</key>
	<dict>
		<key>Path Points</key>
		<array>
			<string>0,59</string>
			<string>7,48</string>
			<string>16,24</string>
			<string>27,17</string>
			<string>49,17</string>
			<string>59,16</string>
			<string>74,17</string>
			<string>89,16</string>
			<string>108,21</string>
			<string>112,33</string>
			<string>109,44</string>
			<string>100,48</string>
			<string>87,57</string>
			<string>81,79</string>
			<string>42,79</string>
			<string>48,57</string>
			<string>57,39</string>
			<string>57,28</string>
		</array>
		<key>Path Solutions</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
			</array>
			<array>
				<integer>14</integer>
				<integer>15</integer>
				<integer>16</integer>
				<integer>17</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
			</array>
		</array>
		<key>Tower Placement Points</key>
		<array>
			<string>15,57</string>
			<string>20,60</string>
			<string>20,53</string>
			<string>32,55</string>
			<string>37,58</string>
			<string>31,61</string>
			<string>26,29</string>
			<string>33,27</string>
			<string>32,31</string>
			<string>41,27</string>
			<string>47,29</string>
			<string>42,32</string>
			<string>73,32</string>
			<string>68,29</string>
			<string>74,27</string>
			<string>81,29</string>
			<string>88,28</string>
			<string>95,28</string>
			<string>100,30</string>
			<string>93,32</string>
		</array>
		<key>Enemy Round Information</key>
		<array>
			<string>1</string>
			<string>1111114</string>
			<string>1</string>
			<string>111111111117</string>
			<string>11145</string>
			<string>1114</string>
			<string>1115</string>
			<string>1116</string>
			<string>11125</string>
			<string>1117</string>
			<string>112</string>
			<string>1117</string>
			<string>1117</string>
			<string>111567</string>
			<string>11117</string>
			<string>16</string>
			<string>16</string>
			<string>156</string>
			<string>456</string>
			<string>111147</string>
		</array>
		<key>Enemy Spawn Rate Information</key>
		<array>
			<real>3.2</real>
			<real>3.2</real>
			<real>3.2</real>
			<real>3.2</real>
			<real>3.5</real>
			<real>3.5</real>
			<real>3.5</real>
			<real>2.8</real>
			<real>2.7</real>
			<real>2.6</real>
			<real>2.5</real>
			<real>2.4</real>
			<real>2.4</real>
			<real>2.4</real>
			<real>2.4</real>
			<real>2.2</real>
			<real>1.8</real>
			<real>1.7</real>
			<integer>2</integer>
			<real>1.5</real>
		</array>
	</dict>
	<key>Level 10</key>
	<dict>
		<key>Path Points</key>
		<array>
			<string>0,8</string>
			<string>16,11</string>
			<string>30,6</string>
			<string>44,11</string>
			<string>53,11</string>
			<string>62,6</string>
			<string>75,14</string>
			<string>95,10</string>
			<string>106,0</string>
			<string>16,23</string>
			<string>53,20</string>
			<string>0,34</string>
			<string>15,33</string>
			<string>26,38</string>
			<string>34,35</string>
			<string>44,36</string>
			<string>54,30</string>
			<string>67,40</string>
			<string>90,37</string>
			<string>103,44</string>
			<string>115,45</string>
			<string>119,47</string>
			<string>0,57</string>
			<string>11,58</string>
			<string>24,56</string>
			<string>29,63</string>
			<string>44,59</string>
			<string>57,61</string>
			<string>63,55</string>
			<string>68,46</string>
			<string>26,79</string>
			<string>73,79</string>
			<string>72,63</string>
		</array>
		<key>Path Solutions</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>10</integer>
				<integer>16</integer>
				<integer>17</integer>
				<integer>18</integer>
				<integer>19</integer>
				<integer>20</integer>
				<integer>21</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>9</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
				<integer>16</integer>
				<integer>17</integer>
				<integer>18</integer>
				<integer>19</integer>
				<integer>20</integer>
				<integer>21</integer>
			</array>
			<array>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
				<integer>16</integer>
				<integer>17</integer>
				<integer>18</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<array>
				<integer>11</integer>
				<integer>12</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
				<integer>16</integer>
				<integer>17</integer>
				<integer>18</integer>
				<integer>19</integer>
				<integer>20</integer>
				<integer>21</integer>
			</array>
			<array>
				<integer>22</integer>
				<integer>23</integer>
				<integer>24</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
				<integer>16</integer>
				<integer>17</integer>
				<integer>18</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<array>
				<integer>22</integer>
				<integer>23</integer>
				<integer>24</integer>
				<integer>13</integer>
				<integer>14</integer>
				<integer>15</integer>
				<integer>16</integer>
				<integer>17</integer>
				<integer>18</integer>
				<integer>19</integer>
				<integer>20</integer>
				<integer>21</integer>
			</array>
			<array>
				<integer>22</integer>
				<integer>23</integer>
				<integer>24</integer>
				<integer>25</integer>
				<integer>26</integer>
				<integer>27</integer>
				<integer>28</integer>
				<integer>29</integer>
				<integer>17</integer>
				<integer>18</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<array>
				<integer>22</integer>
				<integer>23</integer>
				<integer>24</integer>
				<integer>25</integer>
				<integer>26</integer>
				<integer>27</integer>
				<integer>28</integer>
				<integer>29</integer>
				<integer>17</integer>
				<integer>18</integer>
				<integer>19</integer>
				<integer>20</integer>
				<integer>21</integer>
			</array>
			<array>
				<integer>30</integer>
				<integer>25</integer>
				<integer>26</integer>
				<integer>27</integer>
				<integer>28</integer>
				<integer>29</integer>
				<integer>17</integer>
				<integer>18</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<array>
				<integer>30</integer>
				<integer>25</integer>
				<integer>26</integer>
				<integer>27</integer>
				<integer>28</integer>
				<integer>29</integer>
				<integer>17</integer>
				<integer>18</integer>
				<integer>19</integer>
				<integer>20</integer>
				<integer>21</integer>
			</array>
			<array>
				<integer>31</integer>
				<integer>32</integer>
				<integer>28</integer>
				<integer>29</integer>
				<integer>17</integer>
				<integer>18</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
			<array>
				<integer>31</integer>
				<integer>32</integer>
				<integer>28</integer>
				<integer>29</integer>
				<integer>17</integer>
				<integer>18</integer>
				<integer>19</integer>
				<integer>20</integer>
				<integer>21</integer>
			</array>
		</array>
		<key>Tower Placement Points</key>
		<array>
			<string>22,16</string>
			<string>30,15</string>
			<string>37,17</string>
			<string>44,17</string>
			<string>22,24</string>
			<string>26,30</string>
			<string>34,28</string>
			<string>42,29</string>
			<string>46,24</string>
			<string>61,14</string>
			<string>59,21</string>
			<string>66,17</string>
			<string>72,19</string>
			<string>79,20</string>
			<string>85,19</string>
			<string>61,27</string>
			<string>67,31</string>
			<string>74,31</string>
			<string>81,31</string>
			<string>85,26</string>
			<string>100,22</string>
			<string>99,29</string>
			<string>104,34</string>
			<string>15,40</string>
			<string>20,43</string>
			<string>19,49</string>
			<string>33,42</string>
			<string>40,42</string>
			<string>47,42</string>
			<string>52,39</string>
			<string>57,40</string>
			<string>60,45</string>
			<string>34,48</string>
			<string>57,49</string>
			<string>32,53</string>
			<string>37,55</string>
			<string>43,53</string>
			<string>49,55</string>
			<string>55,54</string>
			<string>79,60</string>
			<string>76,55</string>
			<string>73,50</string>
			<string>77,45</string>
			<string>84,44</string>
			<string>90,47</string>
			<string>97,49</string>
			<string>82,50</string>
			<string>19,63</string>
			<string>22,67</string>
			<string>35,70</string>
			<string>39,66</string>
			<string>45,66</string>
			<string>52,68</string>
			<string>59,67</string>
			<string>65,67</string>
		</array>
		<key>Enemy Round Information</key>
		<array>
			<string>1</string>
			<string>11112</string>
			<string>11114</string>
			<string>11111117</string>
			<string>111111237</string>
			<string>11112347</string>
			<string>1115</string>
			<string>1123</string>
			<string>1125</string>
			<string>5</string>
			<string>224</string>
			<string>2234</string>
			<string>47</string>
			<string>46</string>
			<string>6</string>
			<string>1125</string>
			<string>11245</string>
			<string>11356</string>
			<string>333567</string>
			<string>55567</string>
		</array>
		<key>Enemy Spawn Rate Information</key>
		<array>
			<real>3.8</real>
			<real>3.8</real>
			<real>3.5</real>
			<real>3.5</real>
			<real>3.5</real>
			<real>3.5</real>
			<real>3.3</real>
			<real>3.3</real>
			<real>3.2</real>
			<real>2.5</real>
			<integer>2</integer>
			<real>1.9</real>
			<real>1.9</real>
			<real>1.9</real>
			<real>1.4</real>
			<real>1.4</real>
			<real>1.4</real>
			<real>1.3</real>
			<real>1.3</real>
			<real>1.2</real>
		</array>
	</dict>
</dict>
</plist>
