<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>apply_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,446},{98,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,43}}</string>
                <key>sourceSize</key>
                <string>{100,45}</string>
            </dict>
            <key>apply_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,332},{98,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,43}}</string>
                <key>sourceSize</key>
                <string>{100,45}</string>
            </dict>
            <key>back_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,672},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>back_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,642},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>credit_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,864},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>credit_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,564},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>delete_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,124},{120,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,60}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>delete_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{120,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,60}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>done_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>done_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,598},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>facebook_logo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,790},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>facebook_logo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,716},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>hero1_file_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{170,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{170,192}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>hero1_file_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,174},{170,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{170,192}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>hero2_file_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{170,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{170,192}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>hero2_file_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,174},{156,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{156,180}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>hero3_file_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{170,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{170,192}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>hero3_file_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,174},{156,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{156,180}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>hero_1_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,884},{106,118}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{106,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hero_2_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,884},{134,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,18},{134,114}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>hero_3_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,746},{108,116}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{108,116}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>level_complete_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{376,288}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{376,288}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>level_select_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,746},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{136,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>level_select_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{136,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>level_select_button_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{136,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>levels_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,568},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>levels_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,546},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>main_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,480},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>main_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,480},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>new_file_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{170,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{170,192}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>new_file_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,292},{156,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{156,180}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>next_button_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,524},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>next_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,494},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>next_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,432},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>okay_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,406},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>okay_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,406},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>powers_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,332},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>powers_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>quit_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>quit_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,450},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>reset_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,464},{98,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,43}}</string>
                <key>sourceSize</key>
                <string>{100,45}</string>
            </dict>
            <key>reset_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,346},{98,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,43}}</string>
                <key>sourceSize</key>
                <string>{100,45}</string>
            </dict>
            <key>resume_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,420},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>resume_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,346},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>skip_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,332},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>skip_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,331},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>sound_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,477},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>sound_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,246},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{83,83}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nonbatchatlas-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:504928901cc14bc283d4af616cb7d00f$</string>
            <key>textureFileName</key>
            <string>nonbatchatlas-hd.png</string>
        </dict>
    </dict>
</plist>
