<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>apply_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,330},{50,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,23}}</string>
                <key>sourceSize</key>
                <string>{50,23}</string>
            </dict>
            <key>apply_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,453},{50,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,23}}</string>
                <key>sourceSize</key>
                <string>{50,23}</string>
            </dict>
            <key>back_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,304},{72,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>back_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,292},{72,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>credit_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,330},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>credit_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,384},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>delete_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,446},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>delete_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,384},{60,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>sourceSize</key>
                <string>{60,30}</string>
            </dict>
            <key>done_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,284},{72,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>done_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,284},{72,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>facebook_logo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,342},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>facebook_logo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,342},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>hero1_file_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{86,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,96}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>hero1_file_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,90},{86,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,96}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>hero2_file_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{86,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,96}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>hero2_file_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,90},{78,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{78,90}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>hero3_file_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{86,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,96}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>hero3_file_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,90},{78,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{78,90}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>hero_1_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,454},{53,59}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{53,59}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>hero_2_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,384},{67,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{67,57}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>hero_3_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{55,59}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{55,59}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>level_complete_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,144}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{188,144}}</string>
                <key>sourceSize</key>
                <string>{200,150}</string>
            </dict>
            <key>level_select_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>level_select_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,294},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>level_select_button_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>levels_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,256},{72,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>levels_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{72,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>main_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,266},{72,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>main_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,254},{72,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>new_file_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{86,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,96}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>new_file_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,148},{78,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{78,90}}</string>
                <key>sourceSize</key>
                <string>{90,100}</string>
            </dict>
            <key>next_button_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,246},{72,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>next_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,246},{72,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>next_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,218},{72,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>okay_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,208},{72,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>okay_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{72,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>powers_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,228},{72,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>powers_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,216},{72,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>quit_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,208},{72,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>quit_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,180},{72,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>reset_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,54},{50,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,23}}</string>
                <key>sourceSize</key>
                <string>{50,23}</string>
            </dict>
            <key>reset_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{50,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,23}}</string>
                <key>sourceSize</key>
                <string>{50,23}</string>
            </dict>
            <key>resume_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,170},{72,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>resume_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,178},{72,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>skip_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,170},{72,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>skip_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,106},{72,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,36}}</string>
                <key>sourceSize</key>
                <string>{72,36}</string>
            </dict>
            <key>sound_button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,339},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>sound_button_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,294},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nonbatchatlas.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:586f133b8e7794b5b3650c5e0deb8b61$</string>
            <key>textureFileName</key>
            <string>nonbatchatlas.png</string>
        </dict>
    </dict>
</plist>
