<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>c1_p1_</key>
	<dict>
		<key>animationFrames</key>
		<string></string>
		<key>unitDelay</key>
		<integer>0</integer>
		<key>filenamePrefix</key>
		<string></string>
	</dict>
	<key>c1_p2_</key>
	<dict>
		<key>animationFrames</key>
		<string></string>
		<key>unitDelay</key>
		<integer>0</integer>
		<key>filenamePrefix</key>
		<string></string>
	</dict>
	<key>c1_p3_normal_</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>unitDelay</key>
		<real>0.25</real>
		<key>filenamePrefix</key>
		<string>c1_p3_</string>
	</dict>
	<key>c1_p3_fast_</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>unitDelay</key>
		<real>0.08</real>
		<key>filenamePrefix</key>
		<string>c1_p3_</string>
	</dict>
	<key>c2_p1_</key>
	<dict>
		<key>animationFrames</key>
		<string></string>
		<key>unitDelay</key>
		<integer>0</integer>
		<key>filenamePrefix</key>
		<string></string>
	</dict>
	<key>c2_p2_</key>
	<dict>
		<key>animationFrames</key>
		<string></string>
		<key>unitDelay</key>
		<integer>0</integer>
		<key>filenamePrefix</key>
		<string></string>
	</dict>
	<key>c2_p3_</key>
	<dict>
		<key>animationFrames</key>
		<string></string>
		<key>unitDelay</key>
		<integer>0</integer>
		<key>filenamePrefix</key>
		<string></string>
	</dict>
	<key>c3_p1_</key>
	<dict>
		<key>animationFrames</key>
		<string></string>
		<key>unitDelay</key>
		<integer>0</integer>
		<key>filenamePrefix</key>
		<string></string>
	</dict>
	<key>c3_p2_</key>
	<dict>
		<key>animationFrames</key>
		<string></string>
		<key>unitDelay</key>
		<integer>0</integer>
		<key>filenamePrefix</key>
		<string></string>
	</dict>
	<key>c3_p3_</key>
	<dict>
		<key>animationFrames</key>
		<string></string>
		<key>unitDelay</key>
		<integer>0</integer>
		<key>filenamePrefix</key>
		<string></string>
	</dict>
	<key>c3_proc_</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,5,4,3,2</string>
		<key>unitDelay</key>
		<real>0.03</real>
		<key>filenamePrefix</key>
		<string>c3_proc_</string>
	</dict>
</dict>
</plist>
