<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kGameScene1</key>
	<dict>
		<key>play_button_sound</key>
		<string>play_button_sound_1.wav</string>
		<key>back_button_sound</key>
		<string>back_button_sound_1.wav</string>
		<key>hero_button_sound</key>
		<string>hero_select_sound_1.wav</string>
		<key>death_sound</key>
		<string>death_sound_1.wav</string>
		<key>level_up_sound</key>
		<string>successful_1.wav</string>
		<key>pause_button_sound</key>
		<string>pause_button_sound_1.wav</string>
		<key>power_select_button_sound</key>
		<string>power_select_button_sound_1.wav</string>
		<key>select_power_sound</key>
		<string>select_button_sound_1.wav</string>
		<key>countdown_timer_sound</key>
		<string>countdown_sound_1.wav</string>
		<key>countdown_round_sound</key>
		<string>round_sound_1.wav</string>
		<key>upgrade_sound</key>
		<string>upgrade_sound_1.wav</string>
		<key>upgrade_max_sound</key>
		<string>upgrade_max_sound_1.wav</string>
		<key>tower_remove_sound</key>
		<string>tower_removed_sound_1.wav</string>
		<key>tower_remove_button_sound</key>
		<string>remove_button_sound_1.wav</string>
		<key>xp_sound</key>
		<string>xp_sound_1.wav</string>
		<key>lose_life_sound</key>
		<string>lose_life_sound_1.wav</string>
		<key>rage_sound</key>
		<string>rage_sound_1.wav</string>
		<key>overclock_sound</key>
		<string>overclock_sound_1.wav</string>
		<key>longshot_sound</key>
		<string>longshot_sound_1.wav</string>
		<key>slow_cast_sound</key>
		<string>slow_sound_1.wav</string>
		<key>cast_sound</key>
		<string>cast_sound_1.wav</string>
		<key>mine_cast_sound</key>
		<string>mine_sound_1.wav</string>
		<key>mine_ticking_sound</key>
		<string>ticking_sound_1.wav</string>
		<key>slow_status_sound</key>
		<string>slow_status_sound_1.wav</string>
		<key>poison_status_sound</key>
		<string>poison_status_sound_1.wav</string>
		<key>onfire_status_sound</key>
		<string>onfire_status_sound_1.wav</string>
		<key>freeze_status_sound</key>
		<string>freeze_status_sound_1.wav</string>
		<key>poison_sound</key>
		<string>poison_sound_1.wav</string>
		<key>blizzard_sound</key>
		<string>blizzard_sound_1.wav</string>
		<key>smite_sound</key>
		<string>smite_sound_1.wav</string>
		<key>regular_hit_sound</key>
		<string>hit_sound_1.wav</string>
		<key>regular_hit_sound_2</key>
		<string>hit_sound_2.wav</string>
		<key>regular_hit_sound_4</key>
		<string>hit_sound_4.wav</string>
		<key>sword_hit_sound</key>
		<string>sword_hit_1.wav</string>
		<key>sword_hit_sound_2</key>
		<string>hit_sound_3.wav</string>
		<key>crit_hit_sound</key>
		<string>crit_sound_1.wav</string>
		<key>talent_button_sound</key>
		<string>talent_button_sound_1.wav</string>
		<key>talent_upgrade_sound</key>
		<string>talent_upgrade_sound_1.wav</string>
		<key>talent_max_upgrade_sound</key>
		<string>talent_upgrade_max_sound_1.wav</string>
		<key>proc_sound</key>
		<string>proc_sound_1.wav</string>
		<key>bulletstandard_launch_sound</key>
		<string>bulletstandard_launch_sound_1.wav</string>
		<key>meditate_cast_sound</key>
		<string>meditation_cast_1.wav</string>
		<key>bulletice_launch_sound</key>
		<string>bulletice_launch_sound_1.wav</string>
		<key>bulletice_explosion_sound</key>
		<string>bulletice_explosion_sound_1.wav</string>
		<key>bulletbomb_launch_sound</key>
		<string>bulletbomb_launch_sound_1.wav</string>
		<key>bulletbomb_explosion_sound</key>
		<string>bulletbomb_explosion_sound_1.wav</string>
		<key>coin_sound</key>
		<string>coin_sound_1.wav</string>
		<key>win_sound</key>
		<string>win_theme.wav</string>
		<key>lose_sound</key>
		<string>lose_theme.wav</string>
	</dict>
</dict>
</plist>
