<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>explosionAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,4,5</string>
		<key>unitDelay</key>
		<real>0.08</real>
		<key>filenamePrefix</key>
		<string>towerbomb_explosion_</string>
	</dict>
	<key>firingAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,4,5,4,3,2,1</string>
		<key>unitDelay</key>
		<real>0.05</real>
		<key>filenamePrefix</key>
		<string>TowerBomb_</string>
	</dict>
	<key>bulletEffectAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,4</string>
		<key>unitDelay</key>
		<real>0.05</real>
		<key>filenamePrefix</key>
		<string>bulletbomb_effect_</string>
	</dict>
</dict>
</plist>
